@{
    ViewData["Title"] = "Home Page";
}

<!--calling/using view component-->
<!--To make it workable, YOU MUST ADD THIS LINE OF CODE IN "_ViewImports.cshtml" 
@addTagHelper *, YourProjectNameHere
-->
<div>
    <vc:student></vc:student>
</div>


