<!--
    Kisi view se data layout.cshtml me lana ho tou? Ans: RenderSection
-->

.
.
.
<header>
  <nav>
    .
    .
   </nav>
   <!--@RenderSection("s1")-->
    @if (IsSectionDefined("s1"))
    {
        @RenderSection("s1")
    }
    else
    {
        <div>There is no section defined.</div>
    }
</header>
