@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <vc:students name="Amna" roll-number="BSEF19M009"></vc:students>
    <vc:students name="Iqra" roll-number="BSEF19M012"></vc:students>
    <vc:students name="Laiba" roll-number="BSEF19M003"></vc:students>
</div>


