@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
  .
  .
  .
  .
</div>


<!--***************Section***********-->
@section s1{ 
<div>
    i am text being add from index.cstml file to layout.cshtml's header.
</div>
}
