//make MVC project in your VS.
//shared Folder > right click > eadd > view > empty razor page > myPartialView.cshtml > add
//This will create view(partial view) for you.


/*
partial views are used when you want to divide your code into chunks or when there is repeated code with some data vaiations.
e.g ap ne controller se list of strings bheji, wo list view me ai, view me forach loop se us list ko iterate kr k hr element ko partial me send kr dia jo row me place hota gya.
P.S. ap ne agr kuch variables .cshtml file me delare krny hon wo ap @{} is me add kr skty hen.
*/

<p>@Model</p>
