//make MVC project in your VS.
//shared Folder > right click > eadd > view > empty razor page > myPartialView.cshtml > add
//This will create view(partial view) for you.


//class work : Get data from any source(controller) in view, print it in form of rows using rows as partial view.
//it means your partial view will contain tr and td.

<tr>
    <td>@Model</td>
</tr>
