<!--
  Views > Home > Index.cshtml
-->
<!--header-->


<div class="text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <input type="file" name="postedFiles" multiple/>
        <input type="submit" value="upload"/>

    </form>
</div>

<!--footer-->
